:root {
  --v_xs: 5px;
  --v_xsx: 4px;
  --v_xxs: 6px;
  --v_sm: 10px;
  --v_smx: 8px;
  --v_xsm: 12px;
  --v_md: 15px;
  --v_mdx: 14px;
  --v_xmd: 16px;
  --v_lg: 20px;
  --v_lgx: 18px;
  --v_xlg: 22px;
  --v_xl: 25px;
  --v_xlx: 24px;
  --v_xxl: 26px;
  --v_fs_1: 24px;
  --v_fs_2: 18px;
  --v_fs_3: 16px;
  --v_fs_4: 14px;
  --v_fs_5: 13px;
  --v_fs_6: 12px;
  --v_lh_xs: 1;
  --v_lh_sm: 1.25;
  --v_lh_md: 1.5;
  --v_lh_lg: 1.75;
  --v_lh_xl: 2;
  --v_height_xs: 16px;
  --v_height_sm: 24px;
  --v_height_md: 32px;
  --v_height_lg: 40px;
  --v_height_xl: 48px;
  --v_radius: 6px;
  --v_radius_sm: 4px;
  --v_radius_md: 8px;
  --v_radius_lg: 10px;
  --v_brand_pink: var(--brand_pink, #ff6699);
  --v_brand_pink_thin: var(--brand_pink_thin, #ffecf1);
  --v_brand_blue: var(--brand_blue, #00aeec);
  --v_brand_blue_thin: var(--brand_blue_thin, #dff6fd);
  --v_stress_red: var(--stress_red, #f85a54);
  --v_stress_red_thin: var(--stress_red_thin, #feecea);
  --v_success_green: var(--success_green, #2ac864);
  --v_success_green_thin: var(--success_green_thin, #e4f8ea);
  --v_operate_orange: var(--operate_orange, #ff7f24);
  --v_operate_orange_thin: var(--operate_orange_thin, #fff0e3);
  --v_pay_yellow: var(--pay_yellow, #ffb027);
  --v_pay_yellow_thin: var(--pay_yellow_thin, #fff6e4);
  --v_bg1: var(--bg1, #ffffff);
  --v_bg2: var(--bg2, #f6f7f8);
  --v_bg3: var(--bg3, #f1f2f3);
  --v_bg1_float: var(--bg1_float, #ffffff);
  --v_bg2_float: var(--bg2_float, #f1f2f3);
  --v_text_white: var(--text_white, #ffffff);
  --v_text1: var(--text1, #18191c);
  --v_text2: var(--text2, #61666d);
  --v_text3: var(--text3, #9499a0);
  --v_text4: var(--text4, #c9ccd0);
  --v_text_link: var(--text_link, #008ac5);
  --v_text_notice: var(--text_notice, #e58900);
  --v_line_light: var(--line_light, #f1f2f3);
  --v_line_regular: var(--line_regular, #e3e5e7);
  --v_line_bold: var(--line_bold, #c9ccd0);
  --v_graph_white: var(--graph_white, #ffffff);
  --v_graph_bg_thin: var(--graph_bg_thin, #f6f7f8);
  --v_graph_bg_regular: var(--graph_bg_regular, #f1f2f3);
  --v_graph_bg_thick: var(--graph_bg_thick, #e3e5e7);
  --v_graph_weak: var(--graph_weak, #c9ccd0);
  --v_graph_medium: var(--graph_medium, #9499a0);
  --v_graph_icon: var(--graph_icon, #61666d);
  --v_shadow: var(--shadow, #000000);
  --v_brand_pink_hover: var(--brand_pink_hover, #ff8cb0);
  --v_brand_pink_active: var(--brand_pink_active, #e84b85);
  --v_brand_pink_disabled: var(--brand_pink_disabled, #ffb3ca);
  --v_brand_blue_hover: var(--brand_blue_hover, #40c5f1);
  --v_brand_blue_active: var(--brand_blue_active, #008ac5);
  --v_brand_blue_disabled: var(--brand_blue_disabled, #80daf6);
  --v_stress_red_hover: var(--stress_red_hover, #fa857f);
  --v_stress_red_active: var(--stress_red_active, #e23d3d);
  --v_stress_red_disabled: var(--stress_red_disabled, #fcafaa);
  --v_text_hover: var(--text_hover, #797f87);
  --v_text_active: var(--text_active, #61666d);
  --v_text_disabled: var(--text_disabled, #c9ccd0);
  --v_line_border: var(--line_border, #c9ccd0);
  --v_line_bolder_hover: var(--line_bolder_hover, #e3e5e7);
  --v_line_bolder_active: var(--line_bolder_active, #aeb3b9);
  --v_line_bolder_disabled: var(--line_bolder_disabled, #f1f2f3);
}

:root {
  --Ga0: #f6f7f8;
  --Ga0_s: #f6f7f8;
  --Ga0_t: #f6f7f8;
  --Ga1: #f1f2f3;
  --Ga1_s: #f1f2f3;
  --Ga1_t: #f1f2f3;
  --Ga1_e: #f1f2f3;
  --Ga2: #e3e5e7;
  --Ga2_t: #e3e5e7;
  --Ga3: #c9ccd0;
  --Ga3_t: #c9ccd0;
  --Ga4: #aeb3b9;
  --Ga4_t: #aeb3b9;
  --Ga5: #9499a0;
  --Ga5_t: #9499a0;
  --Ga6: #797f87;
  --Ga6_t: #797f87;
  --Ga7: #61666d;
  --Ga7_t: #61666d;
  --Ga8: #484c53;
  --Ga8_t: #484c53;
  --Ga9: #2f3238;
  --Ga9_t: #2f3238;
  --Ga10: #18191c;
  --Ga10_t: #18191c;
  --Ga11: #ffffff;
  --Ga12: #f1f2f3;
  --Wh0: #ffffff;
  --Wh0_t: #ffffff;
  --Ba0: #000000;
  --Ba0_s: #000000;
  --Ba0_t: #000000;
  --Pi0: #fff3f6;
  --Pi1: #ffecf1;
  --Pi2: #ffd9e4;
  --Pi3: #ffb3ca;
  --Pi4: #ff8cb0;
  --Pi5: #ff6699;
  --Pi5_t: #ff6699;
  --Pi6: #e84b85;
  --Pi7: #d03171;
  --Pi8: #ad1c5b;
  --Pi9: #771141;
  --Pi10: #3f0723;
  --Ma0: #fef3fc;
  --Ma1: #fdebfa;
  --Ma2: #fbd7f4;
  --Ma3: #f7aeeb;
  --Ma4: #f286e2;
  --Ma5: #ee5ddb;
  --Ma6: #da41cb;
  --Ma7: #c525ba;
  --Ma8: #9b1797;
  --Ma9: #670f67;
  --Ma10: #330834;
  --Re0: #fef3f2;
  --Re1: #feecea;
  --Re2: #fdd7d4;
  --Re3: #fcafaa;
  --Re4: #fa857f;
  --Re5: #f85a54;
  --Re6: #e23d3d;
  --Re7: #c9272c;
  --Re8: #9f1922;
  --Re9: #710e18;
  --Re10: #3b060d;
  --Or0: #fff6ee;
  --Or1: #fff0e3;
  --Or2: #ffe1c7;
  --Or3: #ffc18f;
  --Or4: #ffa058;
  --Or5: #ff7f24;
  --Or6: #e95b03;
  --Or7: #bb4100;
  --Or8: #8d2d00;
  --Or9: #5e1b00;
  --Or10: #2f0c00;
  --Ye0: #fffaef;
  --Ye1: #fff6e4;
  --Ye2: #ffeec9;
  --Ye3: #ffdb93;
  --Ye4: #ffc65d;
  --Ye5: #ffb027;
  --Ye6: #e58900;
  --Ye7: #b76800;
  --Ye8: #8a4a00;
  --Ye9: #5b2e00;
  --Ye10: #2f1600;
  --Ly0: #fffcec;
  --Ly1: #fffadf;
  --Ly2: #fff5bf;
  --Ly3: #ffea80;
  --Ly4: #ffdc40;
  --Ly5: #ffcc00;
  --Ly6: #d5a300;
  --Ly7: #aa7d00;
  --Ly8: #805a00;
  --Ly9: #553900;
  --Ly10: #2b1b00;
  --Lg0: #f7fbef;
  --Lg1: #f2f9e4;
  --Lg2: #e3f2c8;
  --Lg3: #c7e691;
  --Lg4: #a9d95b;
  --Lg5: #88cc24;
  --Lg6: #66b105;
  --Lg7: #4e8e04;
  --Lg8: #376a03;
  --Lg9: #224702;
  --Lg10: #102301;
  --Gr0: #effbf3;
  --Gr1: #e4f8ea;
  --Gr2: #caf1d6;
  --Gr3: #95e4af;
  --Gr4: #5fd689;
  --Gr5: #2ac864;
  --Gr6: #0eb350;
  --Gr7: #089043;
  --Gr8: #046e35;
  --Gr9: #034926;
  --Gr10: #012414;
  --Cy0: #edfbfb;
  --Cy1: #e2f8f8;
  --Cy2: #c4eff0;
  --Cy3: #89e1e1;
  --Cy4: #4fd3d1;
  --Cy5: #14c4bf;
  --Cy6: #02aaaa;
  --Cy7: #018488;
  --Cy8: #015f66;
  --Cy9: #013d44;
  --Cy10: #001d22;
  --Lb0: #ecfafe;
  --Lb1: #dff6fd;
  --Lb2: #bfedfa;
  --Lb3: #80daf6;
  --Lb4: #40c5f1;
  --Lb5: #00aeec;
  --Lb6: #008ac5;
  --Lb7: #00699d;
  --Lb8: #004b76;
  --Lb9: #002f4f;
  --Lb10: #001627;
  --Bl0: #f3f5ff;
  --Bl1: #ebefff;
  --Bl2: #d7dfff;
  --Bl3: #b0c1ff;
  --Bl4: #88a4ff;
  --Bl5: #6188ff;
  --Bl6: #4c6de4;
  --Bl7: #3752c8;
  --Bl8: #2136ac;
  --Bl9: #121f7f;
  --Bl10: #080d41;
  --Pu0: #f9f4ff;
  --Pu1: #f6edff;
  --Pu2: #eddbff;
  --Pu3: #d8b6ff;
  --Pu4: #c392ff;
  --Pu5: #ac6dff;
  --Pu6: #8f56e4;
  --Pu7: #723ecc;
  --Pu8: #5627b3;
  --Pu9: #371683;
  --Pu10: #190a44;
  --Br0: #faf8f6;
  --Br1: #f7f3f0;
  --Br2: #efe7e0;
  --Br3: #e0cfc1;
  --Br4: #d0b7a3;
  --Br5: #c19d84;
  --Br6: #a5816a;
  --Br7: #856553;
  --Br8: #634a3e;
  --Br9: #423029;
  --Br10: #211815;
  --Si0: #f9fbfc;
  --Si1: #f5f7fa;
  --Si2: #ebeff4;
  --Si3: #d7e0ea;
  --Si4: #c3d0df;
  --Si5: #afc0d5;
  --Si6: #8d9fb9;
  --Si7: #6d7f9c;
  --Si8: #4d5d7c;
  --Si9: #323d54;
  --Si10: #191e2b;
}

:root {
  --Ga0_u: #f6f7f8;
  --Ga1_u: #f1f2f3;
  --Ga2_u: #e3e5e7;
  --Ga3_u: #c9ccd0;
  --Ga4_u: #aeb3b9;
  --Ga5_u: #9499a0;
  --Ga6_u: #797f87;
  --Ga7_u: #61666d;
  --Ga8_u: #484c53;
  --Ga9_u: #2f3238;
  --Ga10_u: #18191c;
  --Ga11_u: #ffffff;
  --Ga12_u: #f1f2f3;
  --Wh0_u: #ffffff;
  --Ba0_u: #000000;
  --Pi0_u: #fff3f6;
  --Pi1_u: #ffecf1;
  --Pi2_u: #ffd9e4;
  --Pi3_u: #ffb3ca;
  --Pi4_u: #ff8cb0;
  --Pi5_u: #ff6699;
  --Pi6_u: #e84b85;
  --Pi7_u: #d03171;
  --Pi8_u: #ad1c5b;
  --Pi9_u: #771141;
  --Pi10_u: #3f0723;
  --Ma0_u: #fef3fc;
  --Ma1_u: #fdebfa;
  --Ma2_u: #fbd7f4;
  --Ma3_u: #f7aeeb;
  --Ma4_u: #f286e2;
  --Ma5_u: #ee5ddb;
  --Ma6_u: #da41cb;
  --Ma7_u: #c525ba;
  --Ma8_u: #9b1797;
  --Ma9_u: #670f67;
  --Ma10_u: #330834;
  --Re0_u: #fef3f2;
  --Re1_u: #feecea;
  --Re2_u: #fdd7d4;
  --Re3_u: #fcafaa;
  --Re4_u: #fa857f;
  --Re5_u: #f85a54;
  --Re6_u: #e23d3d;
  --Re7_u: #c9272c;
  --Re8_u: #9f1922;
  --Re9_u: #710e18;
  --Re10_u: #3b060d;
  --Or0_u: #fff6ee;
  --Or1_u: #fff0e3;
  --Or2_u: #ffe1c7;
  --Or3_u: #ffc18f;
  --Or4_u: #ffa058;
  --Or5_u: #ff7f24;
  --Or6_u: #e95b03;
  --Or7_u: #bb4100;
  --Or8_u: #8d2d00;
  --Or9_u: #5e1b00;
  --Or10_u: #2f0c00;
  --Ye0_u: #fffaef;
  --Ye1_u: #fff6e4;
  --Ye2_u: #ffeec9;
  --Ye3_u: #ffdb93;
  --Ye4_u: #ffc65d;
  --Ye5_u: #ffb027;
  --Ye6_u: #e58900;
  --Ye7_u: #b76800;
  --Ye8_u: #8a4a00;
  --Ye9_u: #5b2e00;
  --Ye10_u: #2f1600;
  --Ly0_u: #fffcec;
  --Ly1_u: #fffadf;
  --Ly2_u: #fff5bf;
  --Ly3_u: #ffea80;
  --Ly4_u: #ffdc40;
  --Ly5_u: #ffcc00;
  --Ly6_u: #d5a300;
  --Ly7_u: #aa7d00;
  --Ly8_u: #805a00;
  --Ly9_u: #553900;
  --Ly10_u: #2b1b00;
  --Lg0_u: #f7fbef;
  --Lg1_u: #f2f9e4;
  --Lg2_u: #e3f2c8;
  --Lg3_u: #c7e691;
  --Lg4_u: #a9d95b;
  --Lg5_u: #88cc24;
  --Lg6_u: #66b105;
  --Lg7_u: #4e8e04;
  --Lg8_u: #376a03;
  --Lg9_u: #224702;
  --Lg10_u: #102301;
  --Gr0_u: #effbf3;
  --Gr1_u: #e4f8ea;
  --Gr2_u: #caf1d6;
  --Gr3_u: #95e4af;
  --Gr4_u: #5fd689;
  --Gr5_u: #2ac864;
  --Gr6_u: #0eb350;
  --Gr7_u: #089043;
  --Gr8_u: #046e35;
  --Gr9_u: #034926;
  --Gr10_u: #012414;
  --Cy0_u: #edfbfb;
  --Cy1_u: #e2f8f8;
  --Cy2_u: #c4eff0;
  --Cy3_u: #89e1e1;
  --Cy4_u: #4fd3d1;
  --Cy5_u: #14c4bf;
  --Cy6_u: #02aaaa;
  --Cy7_u: #018488;
  --Cy8_u: #015f66;
  --Cy9_u: #013d44;
  --Cy10_u: #001d22;
  --Lb0_u: #ecfafe;
  --Lb1_u: #dff6fd;
  --Lb2_u: #bfedfa;
  --Lb3_u: #80daf6;
  --Lb4_u: #40c5f1;
  --Lb5_u: #00aeec;
  --Lb6_u: #008ac5;
  --Lb7_u: #00699d;
  --Lb8_u: #004b76;
  --Lb9_u: #002f4f;
  --Lb10_u: #001627;
  --Bl0_u: #f3f5ff;
  --Bl1_u: #ebefff;
  --Bl2_u: #d7dfff;
  --Bl3_u: #b0c1ff;
  --Bl4_u: #88a4ff;
  --Bl5_u: #6188ff;
  --Bl6_u: #4c6de4;
  --Bl7_u: #3752c8;
  --Bl8_u: #2136ac;
  --Bl9_u: #121f7f;
  --Bl10_u: #080d41;
  --Pu0_u: #f9f4ff;
  --Pu1_u: #f6edff;
  --Pu2_u: #eddbff;
  --Pu3_u: #d8b6ff;
  --Pu4_u: #c392ff;
  --Pu5_u: #ac6dff;
  --Pu6_u: #8f56e4;
  --Pu7_u: #723ecc;
  --Pu8_u: #5627b3;
  --Pu9_u: #371683;
  --Pu10_u: #190a44;
  --Br0_u: #faf8f6;
  --Br1_u: #f7f3f0;
  --Br2_u: #efe7e0;
  --Br3_u: #e0cfc1;
  --Br4_u: #d0b7a3;
  --Br5_u: #c19d84;
  --Br6_u: #a5816a;
  --Br7_u: #856553;
  --Br8_u: #634a3e;
  --Br9_u: #423029;
  --Br10_u: #211815;
  --Si0_u: #f9fbfc;
  --Si1_u: #f5f7fa;
  --Si2_u: #ebeff4;
  --Si3_u: #d7e0ea;
  --Si4_u: #c3d0df;
  --Si5_u: #afc0d5;
  --Si6_u: #8d9fb9;
  --Si7_u: #6d7f9c;
  --Si8_u: #4d5d7c;
  --Si9_u: #323d54;
  --Si10_u: #191e2b;
}

:root {
  --brand_pink: var(--Pi5);
  --brand_pink_thin: var(--Pi1);
  --brand_blue: var(--Lb5);
  --brand_blue_thin: var(--Lb1);
  --stress_red: var(--Re5);
  --stress_red_thin: var(--Re1);
  --success_green: var(--Gr5);
  --success_green_thin: var(--Gr1);
  --operate_orange: var(--Or5);
  --operate_orange_thin: var(--Or1);
  --pay_yellow: var(--Ye5);
  --pay_yellow_thin: var(--Ye1);
  --bg1: var(--Wh0);
  --bg2: var(--Ga0);
  --bg3: var(--Ga1);
  --bg1_float: var(--Ga11);
  --bg2_float: var(--Ga12);
  --text_white: var(--Wh0_u);
  --text1: var(--Ga10);
  --text2: var(--Ga7);
  --text3: var(--Ga5);
  --text4: var(--Ga3);
  --text_link: var(--Lb6);
  --text_notice: var(--Ye6);
  --line_light: var(--Ga1_s);
  --line_regular: var(--Ga2);
  --line_bold: var(--Ga3);
  --graph_white: var(--Wh0_u);
  --graph_bg_thin: var(--Ga0_s);
  --graph_bg_regular: var(--Ga1_s);
  --graph_bg_thick: var(--Ga2);
  --graph_weak: var(--Ga3);
  --graph_medium: var(--Ga5);
  --graph_icon: var(--Ga7);
  --shadow: var(--Ba0);
}
